<div class="container m-2">
    <div class="d-flex justify-content-between mt-4">
        <button class="btn btn-outline-light">Filtros</button>
        <button class="btn btn-outline-light" routerLink="add"> Agregar Proveedor</button>
    </div>
    <div class="table-responsive mt-2">
    <table class="table mt-2  ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Contacto</th>
            <th scope="col">Email</th>
       
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let supplier of suppliers">
            <td >{{supplier.id}}</td>
            <td>{{supplier.name}}</td>
            <td>{{supplier.address}}</td>
            <td>{{supplier.contactInfo}}</td>
            <td>{{supplier.email}}</td>


            <td><button class="btn btn-outline-secondary" (click)="editSupplier(supplier.id)">Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>