<section>
    <div class="card m-auto" style="width: 28rem;" >
        <div class="card-body">
          <h5 class="card-title">Registro</h5>

          <label class="form-label">Nombre</label>
          <input type="text" class="form-control">

          <label class="form-label">Apellido</label>
          <input type="text" class="form-control">

          <label class="form-label">Mail</label>
          <input type="text" class="form-control">
          
          <label class="form-label">Direccion</label>
          <input type="text" class="form-control">

          <button class="btn btn-primary mt-2">Registrarme</button>
        </div>
      </div>
</section>