

.card-register{
    background-color: var(--white);
    color: var(--black);
    width: 28rem;
}

.div-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}

#terms{
    text-decoration: underline #2596be; 
    color: #2596be;
    cursor: pointer;
    
}