<h1>Servicios</h1>
<hr>
<app-add-services></app-add-services>

<div class="d-flex p-2">
    <ng-container *ngFor="let service of services">

        <div class="card" style="width: 18rem;">
            <img src="{{service.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{service.name}}</h5>
                <p class="card-text">{{service.description}}</p>
            </div>
            <div class="card-footer">
                ${{service.price}}
              </div>
        </div>
    </ng-container>
</div>