.fixed-size-img {
    width: 100%;
    height: 200px; /* Aquí puedes ajustar la altura deseada */
    object-fit: cover; /* Esto asegura que la imagen se ajuste dentro del contenedor manteniendo su relación de aspecto */
}
