<div class="container mt-3">
    <div class="row">
       <ng-container *ngFor="let product of products">
           <div class="col-lg-4 col-md-4 col-sm-6 mb-4" (click)="seeDetail(product.id)">
               <div class="card text-center card-custom">
                   <img src="{{product.image}}" class="card-img-top" alt="Producto 2">
                   <div class="card-body" style="background-color: var(--white);">
                       <h5 class="card-title">{{product.name}}</h5>
                       <p class="card-text">{{product.category}}</p>
                       <a href="#" class="btn btn-primary" style="background-color: #9b181e; border-color: #9b181e;" 
                       > <i class="bi bi-cart-plus"></i>
                           
                           ${{product.price}}</a>
                   </div>
               </div>
           </div>
       </ng-container>
    </div>
</div>
