<div class="container" *ngIf="cart.items.length === 0">
    <h2>Mi Carrito</h2>
    <div class="alert alert-warning d-flex justify-content-between"role="alert">
        <div>
            No hay productos en el carrito
        </div>

        <div>
            <a class="btn btn-outline-dark" (click)="seeProducts()">Ver productos</a>
        </div>
    </div>
</div>

<div class="container" *ngIf="cart.items.length > 0">
    <h2>Mi Carrito</h2>
    <div class="row">
        <!-- Carrito de compras -->
        <div class="col-lg-9 col-12 mb-3">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cart.items">
                        <td>
                            <button class="btn btn-outline-dark mx-2" (click)="deleteProduct(item)">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </td>
                        <td>{{item.product.name}}</td>
                        <td>
                            <input type="number" id="inputQuantity" class="form-control text-center me-3" min="1"
                                value="{{item.quantity}}" style="max-width: 4rem" [(ngModel)]="item.quantity"
                                (ngModelChange)="onQuantityChange(item)">
                        </td>
                        <td>{{item.product.price|currency}}</td>
                        <td>{{getTotalProduct(item)|currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Sección de pago -->
        <div class="col-lg-3 col-12">
            <div class="p-3">
                <h4>Total a pagar</h4>
                <p><strong>{{getTotalCart(cart)|currency}}</strong></p>

               
                <div class="d-grid gap-2">
                    <button class="btn btn-primary btn-block" type="button"  data-bs-toggle="modal" data-bs-target="#purchaseModal">Confirmar Compra</button>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content" style="background-color: var(--black);">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Mi compra</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: var(--white);"></button>
        </div>
        <div class="modal-body">
          <h3>Productos</h3>
          <ul *ngFor="let item of cart.items">
            <li class="d-flex justify-content-between">
                <div>
                    {{item.product.name}}  {{item.product.price | currency}}
                </div>   
                <div>X({{item.quantity}})</div> 
            </li>
          </ul>
            <hr>
            <h4>Total a pagar: {{getTotalCart(cart)|currency}}</h4>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="sucursalCheck" [(ngModel)]="isChecked">
                <label class="form-check-label" for="sucursalCheck" >Pagar en sucursal</label>
              </div>
              <div class="d-grid gap-2 mb-2">
                <button class="btn btn-secondary btn-block" type="button" (click)="buyMp()">Mercado Pago</button>
                <div id="wallet_container"></div>
            </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="buy()">Comprar</button>
        </div>
      </div>
    </div>
  </div>

  