
.sidebar-custom {
    background-color: var(--white);
    color: var(--black);
    width: 15%;
}

.logo {
    width: 100%; /* Ajustar ancho de la imagen al 100% del contenedor */
    max-width: 150px; /* Máximo ancho de la imagen */
    height: auto; /* Mantener proporción de la imagen */
    display: block; /* Mostrar imagen como bloque */
    margin: 0 auto 1rem; /* Centrar la imagen y agregar margen inferior */
}

.sidebar-custom a {
    color: var(--black);

}

.sidebar-custom a:hover,
.sidebar-custom a:focus{
    color: #000000;
}

.content {
    background-color: var(--black);

}

.container-custom {
    max-height: 100vh; /* Utiliza toda la altura de la ventana */
    overflow-y: auto;
    /* padding-right: 15px; Ajusta según el ancho de tu scrollbar */
    /* margin-left:10px; Ajusta según el ancho de tu sidebar */
}
.home-container{
    overflow-y: none;
}

.nav-pills li a:hover {
    background-color: rgb(127, 134, 134);
}


