
<h1>Mi Perfil</h1>

<div class="container mt-5">
  <form [formGroup]="formUser">
    <div class="row">
      <!-- Primera columna -->
      <div class="col-md-6">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" formControlName="firstName" [disabled]="isDisabled">
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido" formControlName="lastName" [disabled]="isDisabled">
        </div>
        <div class="mb-3">
          <label for="direccion" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="direccion" placeholder="Ingrese su dirección" formControlName="address" [disabled]="isDisabled">
        </div>
      </div>
      <!-- Segunda columna -->
      <div class="col-md-6">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Ingrese su email" formControlName="email" [disabled]="isDisabled">
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono</label>
          <input type="tel" class="form-control" id="telefono" placeholder="Ingrese su teléfono" formControlName="phone" [disabled]="isDisabled">
        </div>
        <div class="mb-3 text-center">
          <button type="button" class="btn btn-outline-light mx-2" (click)="goToVehicles()">Ver mis vehículos</button>
          <button type="button" class="btn btn-outline-light mx-2" (click)="goToBookings()">Ver mis reservas</button>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-primary mx-2" (click)="toggleEdit()">{{ isDisabled ? 'Editar perfil' : 'Cancelar' }}</button>
      <button *ngIf="!isDisabled" type="submit" class="btn btn-primary mx-2" (click)="confirmChanges()">Confirmar</button>
    </div>
  </form>
</div>
