<!-- faq.component.html -->

<h2>Preguntas Frecuentes (FAQ)</h2>
<hr>
<div class="accordion accordion-flush">
    <h3>Servicios</h3>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                ¿Qué servicios ofrecen?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Ofrecemos una amplia gama de servicios, incluyendo mantenimiento de vehículos, reparaciones esteticas,
                limpieza detallada, y más. Para una lista completa de servicios, visite nuestra segmento de Servicios
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseOne">
               ¿Cómo puedo agendar un servicio?
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                En el caso que no hayas registrado tus vehiculos primero tendras que ahcerlo en nuestra seccion
                <strong>Mis vehiculos</strong>
                para luego en la seccion <strong> servicios</strong>  seleccionar el servicio que deseas y reservar.
            </div>
        </div>
     
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTree"
                aria-expanded="true" aria-controls="collapseTree">
                ¿Como se que hice una reserva correctamente?
            </button>
        </h2>
        <div id="collapseTree" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Una vez que hayas seleccionado el servicio y la fecha de reserva, te llegara un correo electronico
                confirmando tu reserva.
                Luego en el caso de haber disponibilidad te llegara un correo electronico confirmando tu reserva.
            </div>
        </div>

    </div>


    <h3>Tienda</h3>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                aria-expanded="true" aria-controls="collapseOne">
                ¿Qué Productos ofrecen?
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
             En la tienda podras encontras productos de limpieza interior, accesorios para el mantenimiento, y Productos
             de limpieza exterior, nuestros productos son de la mas alta calidad y confiabilidad
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                aria-expanded="true" aria-controls="collapseOne">
                ¿Como funcionan las compras?
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
               Una vez añadido los productos en el carrito y seleccionado el metodo de pago, podras ver 
               en la seccion de mis compras los detalles de las mismas donde podras ver el estado de la compra,
               una vez que la compra este aprobada podras pasar por la sucursal a retirar tus productos.
            </div>
        </div>
     
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                aria-expanded="true" aria-controls="collapseTree">
                ¿Que medios de pago reciben?
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Actualmente solo contamos con pagos presenciales a la hora de retirar los productos,
                pero proximamente podra hacer sus pagos Online en AutoCareProShop.
            </div>
        </div>

    </div>
</div>

