<h1>Mis Vehiculos</h1>
<hr>
<app-add-car></app-add-car>

<ng-container *ngFor="let car of cars">
    <div class="card m-3" style="background-color: var(--white); color: var(--black);">
        <div class="card-header">

            <h5 class="card-title">{{car.brand}} {{car.model}} {{car.year}}</h5>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">

                <p class="card-text">Patente: {{car.plate}}</p>
                <p class="card-text">Tipo: {{car.carType}}</p>
                <div class="btn btn-danger">Editar</div>
            </div>
        </div>
    </div>
</ng-container>