<div class="container m-2">
  <button class="btn btn-outline-light" (click)="toggleFilter()">Filtros</button>
    <div class=" mt-4" *ngIf="isFilter">
      <form [formGroup]="filterForm" class="row g-3">
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="orderId" placeholder="ID Pedido">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="clientName" placeholder="Cliente">
        </div>
        <div class="col-md-2">
          <input type="date" class="form-control" formControlName="date" placeholder="Fecha">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="payment" placeholder="Pago">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="status" placeholder="Estado">
        </div>
        <div class="col-md-2">
          <button class="btn btn-outline-light" (click)="cleanFilters()">Limpiar Filtros</button>
        </div>
      </form>
    </div>
    <div class="table-responsive mt-2">
    <table class="table mt-2  ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Total</th>
            <th scope="col">Pago</th>
            <th scope="col">Estado</th>
            <th scope="col">Accion</th>
      
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let order of filteredOrders">
            <td >{{order.orderId}}</td>
            <td>{{order.user.firstName}}  {{order.user.lastName}}</td>
            <td>{{order.date}}</td>
            <td>{{order.total | currency}}</td>
            <td>{{order.payment}}</td>
            <td>{{order.status}}</td>
            <td><button class="btn btn-outline-secondary"(click)="seeDetail(order.orderId)">Ver</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>