<div class="container m-2">
    <div class=" mt-4">
        <button class="btn btn-outline-light">Filtros</button>
    </div>
    <div class="table-responsive mt-2">
    <table class="table mt-2  ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Monto</th>
            <th scope="col">Cliente</th>
            <th scope="col">Productos</th>
      
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <td >1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>