<h1>Editar Servicio</h1>

<div class="container mt-5">
    <form [formGroup]="formService">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName = "name" [disabled]="disabled">
                </div>
                <div class="mb-3">
                    <label class="form-label">Precio</label>
                    <input type="number" class="form-control" formControlName="price" [disabled]="isDisabled">

                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Descripción</label>
                    <textarea class="form-control" name="" id="" formControlName="description" [disabled]="isDisabled"></textarea>

                </div>
            </div>

        </div>
        <div class="mt-3">
            <button type="button" class="btn btn-primary mx-2" (click)="toggleEdit()">{{ isDisabled ? 'Editar perfil' :
                'Cancelar' }}
            </button>
            <button  *ngIf="!isDisabled" type="submit" class="btn btn-primary mx-2" (click)="confirmChanges()">Confirmar</button>
        </div>

    </form>
</div>