<div class="d-flex justify-content-between">
  <div>
    <a (click)="goToShop()">
        <h1>Tienda AutoCarePro</h1>
  
       
    </a>
  </div>
  <div>
  
    <button class="btn btn-outline-light mx-2" routerLink="admin" *ngIf="isAuthorized(['ADMIN','DETAILER'])">
      <i class="bi bi-gear"></i>
    </button>
    <button class="btn btn-outline-light " (click)="goToShoppings()">
      <i class="bi bi-bag"></i>
    </button>
   
    <button class="btn btn-outline-light mx-2 cart-icon"  routerLink="cart">
      <i class="bi bi-cart"></i>
      <span *ngIf="cartItemCount > 0" class="badge badge-danger">{{ cartItemCount }}</span>

    </button>

  </div>
</div>
<hr>



<router-outlet></router-outlet>