<h1>Mis Reservas</h1>
<hr>
    <div class="row">
        <div class="col-md-12">
            <ng-container *ngFor="let booking of bookings">
                <div class="card m-3 ">
                    <div class="card-header" style="background-color: var(--white); color: var(--black);">
                        #{{booking.id}} - {{booking.date}}
                    </div>
                    <div class="card-body" style="background-color: var(--white); color: var(--black);">
                       <p class="card-text">{{getServices(booking.services)}}</p>
                       <p>Vehiculo: {{booking.vehicle}}</p>
                    </div>
                    <div class="card-footer text-end" style="background-color: var(--white); color: var(--black);">
                        Estado: {{ booking.status }}
                        <span class="status-dot" [ngClass]="{ 'required': booking.status === 'Solicitada', 'accepted': booking.status === 'Aceptada', 'in-proccess': booking.status === 'En proceso', 'completed': booking.status === 'Completada' }"></span>
                      </div>
                </div>
            </ng-container>
        </div>
