<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Agregar vehiculo
  </button>
  
 
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Servicio</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="carForm">
                <label class="form-label">Marca</label>
                <input type="text" class="form-control" formControlName="brand" >
                

                <label class="form-label">Modelo</label>
                <input type="text" class="form-control" formControlName="model">

                <label class="form-label">Año</label>
                <input type="number" class="form-control" formControlName="year">

                <label class="form-label">Patente</label>
                <input type="text" class="form-control" formControlName="plate" >

                <label class="form-label">Tipo</label>
                <select class="form-select" formControlName="carType" >
                    <option selected disabled>Seleccione un tipo</option>
                    <option *ngFor="let car of carTypes" value="{{car}}">{{car}}</option>
                </select>

  
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="sumbit()">Sumbit</button>
        </div>
      </div>
    </div>
  </div>
